*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/Bacground\ Login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
body a > i{
    position: fixed;
    background: #00acee;
    color: #fff;
    width: 40px ;
    height: 40px ;
    top: 4px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding-top:10px;
    right: 10px;
}
.sign-in-form{
    width: 300px;
    height: 70%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #0e97f9a3;
    padding: 20px;
    margin: 6% auto 2%;
    text-align: center;
    border-radius: 10px;
}
.sign-in-form h1{
    color: #0077be;
    margin-bottom: 30px;
}
.input-box{
    color: #0077be;
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width: 90%;
    border: 2px solid #0077be;
    outline: none;
}
.input-box::placeholder{
    color: #0077be;
}
button{
    color: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;

}
.signin-btn{
    background-color: #0077be;
    color: #fff;
}
.twitter-btn{
    background-color: #00acee;
    color: #fff;
}
a{
    text-decoration: none;
    color: #0077be;
}
hr{
    margin-top: 30px;
    width: 100%;
    outline: none;
    border: 1px solid #FDF9EE;
}
.or{
    background:#fff;
    color: #0077be;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: -20px auto 10px;
}

p{
    padding-top: 10px;
    color: #fff;

}
img{
    width: 70px;
    height: 70px;
    border-radius:50%;
    margin-top: -50px;
    background-color: #fff;

}