*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/Bacground\ Login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back{
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #0e97f9a3;
    color: white;
    font-size: 1.4rem;
}
.back:hover {
    cursor: pointer;
}
.sign-in-form{
    width: 300px;
    min-height: 500px;
    height: 55%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #0e97f9a3;
    padding: 20px;
    margin: 6% auto 2%;
    text-align: center;
    border-radius: 10px;
}
.sign-in-form h1{
    color: #0077be;
    margin-bottom: 30px;
}
.input-box{
    color: #0077be;
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #0077be;
    outline: none;
}
.input-box::placeholder{
    color: #0077be;
}
a{
    text-decoration: none;
    color: #0077be;
}
.form-btn {
    padding: 0.5rem 1.2em;
    border-radius: 1.4rem;
    display: block;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    background-color: white;
    color: #0077be;
    border: 1px solid transparent;
    transition: ease-in-out 0.08s all;
}
.form-btn:hover {
    border-color: #0077be;
    background-color: #0e97f9a3;
    color: white;
    cursor: pointer;
}
.login-btn {
    width: 100%;
}
hr{
    margin-top: 30px;
    width: 100%;
    outline: none;
    border: 1px solid #FDF9EE;
}
.or{
    background:#fff;
    color: #0077be;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: -20px auto 10px;
}

p{
    padding-top: 10px;
    color: #fff;

}
img{
    width: 70px;
    height: 70px;
    border-radius:50%;
    margin-top: -50px;
    background-color: #fff;

}